@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap");

footer {
  background-color: #121418;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  letter-spacing: 4px;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  text-shadow: 0 0 10px #c77dff, 0 0 20px #9d4edd;
  box-shadow: 0 -2px 10px rgba(157, 78, 221, 0.3);
}
